@font-face {
	font-family: "CNT";
	src: url(https://github.com/TheProjectOfficial/theprojectofficial.github.io/raw/refs/heads/main/stuff/countdown.ttf);
}

@font-face {
	font-family: "Heading";
	src: url(https://github.com/TheProjectOfficial/theprojectofficial.github.io/raw/refs/heads/main/stuff/countdown.ttf);
}

a {
      font-family: 'Consolas'; /* Apply font to all <p> elements */
    }

p {
  font-family: Consolas;
  color: white;
  opacity: 0.5;
  margin: 0;  /* Remove default margin */
}

h3 {
  font-family: Consolas;
  color: white;
  opacity: 0.5;
}

h1 {
  font-family: Consolas;
  color: white;
  opacity: 0.5;
}

h5 {
  font-family: Heading;
  color: white;
  opacity: 0.5;
  display: inline;
}

.center {
  padding: 0px 0;

}

body {
  background-color: black;
}

/* Scanlines */
body:before {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
	background-image: url(https://classic.systemspace.network/res/img/ui/static/overlay2.png);
	background-repeat: all;
	background-position: 0px 0px;
	animation-name: Static;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4);
	box-shadow: inset 0px 0px 10em rgba(0,0,0,0.4);
}

body:after {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
	background-image: url(https://classic.systemspace.network/res/img/ui/static/overlay2.png);
	background-repeat: all;
	background-position: 0px 0px;
	animation-name: Static;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4);
}

@keyframes Static {
	0% { background-position: 0px 0px; }
	100% { background-position: 0px 4px; }
}





#starfield {
    position: fixed;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
    pointer-events: none;
    opacity: 1;
    transition: 0.5s opacity;
}
#starfield.slow {
	transition: 2s opacity;
}
#starfield.hidden {
    opacity: 0;
}

.no-anim #starfield {
	display: none;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FFF;
}

#twinkling_stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Behind other content */
    pointer-events: none;
    background: #000 url(https://new.systemspace.network/res/img/stars.png) repeat top center;
    mix-blend-mode: lighten;
    backface-visibility: hidden;
}

#twinkling_stars::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url(https://new.systemspace.network/res/img/twinkling.png) repeat top center;
    animation: 200s move-twink-back linear infinite;
    mix-blend-mode: darken;
    pointer-events: none;
}

@keyframes move-twink-back {
    from { background-position: 0 0; }
    to { background-position: -10000px 5000px; }
}

.text-button {
  font-family: 'Consolas', monospace;
  background: none;          /* Remove background */
  color: red;               /* Set text color */
  border: none;              /* Remove border */
                  /* Remove padding */
  text-decoration: underline; /* Add underline */
  cursor: pointer;          /* Pointer cursor on hover */
}

.text-button:hover {
  color: white;           /* Darken text on hover */
}


.starfield {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  animation: move 5s linear infinite;
}

@keyframes move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(var(--x), var(--y));
  }
}
